.searchBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: ghostwhite;
  border: #bd4089 2px solid;
  margin: 50px;
  border-radius: 10px;
  width: 600px;
  padding: 25px;
  text-align: center;
}
