.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
}

.mainNav {
  display: flex;
  flex-direction: row;
  grid-row: 1;
  grid-column: 1;
  padding: 10px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  grid-column: 1;
}
